/* Base styling */
body {
    margin: 0;
    font-family: monospace;
    background-color: #000000; 
    color: white;
}

.header {
    padding: 16px;
    border-bottom: 2px solid #15803d;  
    text-align: center;
}

/* responsive */
@media (min-width: 768px) {
    .header {
        text-align: left;
    }
}

.name {
    font-size: 1.5rem;          
    font-weight: bold;
    color: #22c55e;             
    margin: 0;
    font-family: monospace;
}

.role {
    font-size: 0.875rem;        
    color: #9ca3af;             
    margin: 6px 0 0 0;
    font-family: monospace;
}

.footer {
  padding: 10px;
  border-top: 2px solid #047857; 
  background-color: black;
  color: #22c55e; 
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

